body{
    color: rgb(9, 58, 58);
    font-weight: 600;
}
.edit-model{
    width: 50%;
    display: flex;

}

li {
    box-sizing: border-box;
    overflow: hidden;
    position: inherit;
}
.model{
    position: relative;
    background: white;
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 10rem 2rem 5rem 2rem;
    width: 25rem;
    margin: 5rem auto;
    animation-name: animatetop;
    animation-duration: 0.3s;
    -webkit-box-shadow: 0px 4px  22px -6px rgb(0, 0, 0);
    -moz-box-shadow:0px 4px  22px -6px rgb(0, 0, 0) ;
    box-shadow: 0px 4px  22px -6px rgb(26, 22, 22);
}
.edit-model{
    display: none;
}
.modal-show{
    display: block;
}
.container ul {

    box-shadow: inset;
    background-color: blue;
	/* other styles */
	background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

@media screen and (max-width: 480px) {
    grey lighten-4{
        background-color: black;
        color: green;
    
    }
    body {
      background-color: rgb(125, 224, 125);
    }
  }
